header {
    background: white;
    padding: 2px;
}

header > h1 {
    color: rgb(1, 15, 3);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: beige;
}

.player-info{
    display: inline-block;
    margin: 10px auto;
    border-radius: 4px;
    text-align: center;
    color: rgb(17, 11, 4);
    font-family: Arial, Helvetica, sans-serif;
}

.player-label {
    font-size: 25px;
    font-style: normal;
}

.stat-label {
    margin: 15px;
}

#elapsed-time-label {
    margin: 10px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#black-info {
    width: 200px;
    float: left;
    height: 300px;
    background-color: rgb(167, 167, 243);
    margin: 20px auto;
    text-align: center;
}

#white-info {
    width: 200px;
    float: right;
    height: 300px;
    background-color: rgb(160, 240, 160);
    margin: 20px auto;
    text-align: center;
}

#game-board {
    border: 5px solid black;
    border-radius: 5px;
    display: grid;
    width: fit-content;
    background-color: lime;
    margin: auto;
}

#game-board > .cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
}

#game-board > .cell:empty {
    cursor: pointer;
}

#game-board.black > .cell:hover:empty {
    background-color: rgba(0, 0, 0, 0.5);
}

#game-board.white > .cell:hover:empty {
    background-color: rgba(255, 255, 255, 0.75);
}

#game-board > .cell.disabled:empty {
    /*background-color: rgba(165, 0, 0, 0.897);**/
    cursor: not-allowed;
}

#game-board > .cell.disabled:hover:empty {
    background-color: inherit;
}

#game-board > .cell > .piece {
    border-radius: 100%;
    flex: 1;
    margin: 10px;
}

#game-board > .cell > .piece.black {
    background-color: black;
}

#game-board > .cell > .piece.white {
    background-color: white;
}